#left-side{
    position:relative;
    max-width: 30%;
    min-width: 30%;
    height: 100%;
}

.img-left{
    position:absolute;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    z-index: 1;
}

.img-odin-left{
    height: 120px;

}

.overlay-odin{
    position:absolute;
    z-index:2;
    display:flex;
    flex-direction: row;
    background:rgba(0,0,0,0.5);
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 200px;
    padding: 10px 0;
}

.odin-text{
    color:white;
    font-size: 86px;
}

body{
    margin:0;
    padding:0;
    height: 100vh;
    display:flex;
    flex-direction:row;
}

.header-right{
    font-size: 26px;
    font-family: sans-serif,'Times New Roman', Times, serif;
    font-weight: 600;
    min-width:200px;
    max-width:800px;
}

.subheader-right{
    font-size: 24px;
    font-weight: 600;
}

#right-side{
    padding-left: 50px;
    padding-top: 17vh;
}

.row{
    display:flex;
    flex-direction:row;
    margin-bottom: 12px;
}

.querry{
    display:flex;
    flex-direction: column;
}
.querry-right{
    margin-left: 50px;
}

label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 250px;
}

input {
    padding: 6px;
    border-radius: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border-color:rgba(0,0,0,0.1);
}

input:invalid{
    border-color:rgba(255,0,0,1);
}